.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 50%;
    cursor: default;
    user-select: none;
}

.current-weather-location {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px #162635;
    font-size: 32px;
}

.current-weather-info {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.current-weather-info-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px #162635;
    font-size: 26px;
}

.current-weather-info-temperature {
    font-weight: bold;
    font-size: 32px;
    margin-right: 10px;
}

.current-weather-info-description {
    display: flex;
    flex-shrink: 1;
}

.current-weather-info-icon {
    margin-right: 5px;
}


